:root {
  --main-color: #f8765e;
  --cta-color: #9bdbe7;
  --white-color: #ffffff;
  --gray-color: #cdcdcd;
  --s-space: 10px;
  --m-space: 20px;
  --l-space: 30px;
  --xl-space: 40px;
  --fs-xl: 30px;
  --fs-l: 24px;
  --fs-m: 20px;
  --fs-r: 16px;
  --fs-s: 12px;
  --main-font: "Roboto";
}
html {
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
}

.row {
  width: 100%;
}

.container {
  padding: 0px var(--l-space);
}

main {
  min-width: 100%;
}

/* HEADER */

header {
  background-color: var(--main-color);
  color: var(--white-color);
}

header .container {
  padding: var(--m-space) var(--l-space);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  margin-bottom: var(--m-space);
  font-size: var(--fs-l);
  font-weight: bold;
}

nav ul {
  display: flex;
}

nav ul li:nth-child(2) {
  margin: 0px var(--l-space);
}

nav ul a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;
  font-size: var(--fs-m);
}

@media (min-width: 1020px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

/* HERO */

.hero {
  background-color: var(--main-color);
  padding-top: var(--l-space);
  padding-bottom: 100px;
}

.hero-img-ct {
  height: 300px;
  max-width: 100%;
}

.hero-img-ct img {
  height: auto;
  max-width: 100%;
}

.hero h2 {
  font-weight: bold;
  font-size: var(--fs-xl);
  color: var(--white-color);
  text-align: center;
  line-height: var(--xl-space);
  padding-bottom: var(--m-space);
}

.hero p {
  color: var(--white-color);
  line-height: var(--l-space);
  font-size: var(--fs-l);
  text-align: center;
}

.hero form {
  display: flex;
  flex-direction: column;
  padding: var(--l-space) 0px;
}

.hero input,
.hero button {
  border: none;
  padding: var(--m-space);
  font-size: var(--fs-m);
  border-radius: var(--m-space);
}

.hero input {
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3);
  margin: var(--m-space) 0px;
}

.hero input::placeholder {
  color: var(--gray-color);
}

.hero button {
  background-color: var(--cta-color);
  text-align: center;
  color: var(--white-color);
}

@media (min-width: 769px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
  }
}

/* VALUE PROPOSITION */

.value-proposition-card-ct {
  box-shadow: 0px 10px 44px 0px rgba(0, 0, 0, 0.48);
  padding: var(--l-space) var(--m-space);
  border-radius: var(--m-space);
  margin-top: -70px;
  background-color: var(--white-color);
}

.value-proposition-card {
  text-align: start;
  padding: var(--s-space) 0px;
  margin: var(--s-space) 0px;
}

.value-proposition-card-img-ct {
  display: flex;
  justify-content: center;
}

.value-proposition-card h3 {
  font-weight: bold;
  border-bottom: 3px solid var(--main-color);
  width: fit-content;
  padding-bottom: var(--s-space);
  margin: var(--m-space) 0px;
}

.value-proposition-card p {
  line-height: var(--l-space);
  text-align: start;
}

/* PREMIUM */

.premium {
  margin-top: var(--l-space);
  padding-bottom: var(--l-space);
}

.premium-img-ct {
  height: 350px;
  width: 300px;
  position: relative;
  display: flex;
}

.orange-circle {
  z-index: -1;
  background: var(--main-color);
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
  top: 40px;
  left: 0;
}

.premium-img-ct img {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}

.premium-content-ct h3 {
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--fs-l);
  text-align: center;
  margin: var(--m-space) 0px;
}

.premium-content-ct h4 {
  font-weight: bold;
  font-size: var(--fs-m);
  text-align: center;
  padding-bottom: var(--m-space) 0px;
}

.premium-content-ct p {
  line-height: var(--l-space);
  text-align: center;
  padding: var(--m-space) 0px;
}

.premium-content-ct button {
  width: 100%;
  border: none;
  padding: var(--m-space);
  font-size: var(--fs-m);
  border-radius: var(--m-space);
  background-color: var(--cta-color);
  text-align: center;
  color: var(--white-color);
}

/* TESTIMONIALS */

.testimonials-main-quote-ct {
  position: relative;
  margin-bottom: -40px;
}

.testimonials-main-quote-ct img {
  height: 165px;
  width: 135px;
}

.testimonials-main-quote-ct h3 {
  position: absolute;
  top: 20px;
  left: 10px;
  color: var(--main-color);
  font-size: var(--fs-l);
  width: 175px;
  line-height: var(--xl-space);
  font-weight: bold;
}

.testimonials-card-ct {
  display: flex;
  overflow-x: scroll;
  margin: 0px -29px;
  background-image: url("../images/CustomersBackground\ \(1\).png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 580px;
  align-items: center;
}

.testimonials-card {
  padding: 30px 20px;
  border-radius: var(--m-space);
  box-shadow: 12px 12px 40px 0px rgba(0, 0, 0, 0.25);
  height: 400px;
  min-width: 270px;
  font-weight: bold;
  font-size: var(--fs-m);
  margin: 10px 20px;
}

.testimonials-card:first-child {
  background-color: var(--cta-color);
  color: var(--white-color);
}

.testimonials-card:not(:first-child) {
  background-color: var(--white-color);
}

.testimonials-card p:first-of-type {
  margin-top: 100px;
}

.testimonials-card p:first-of-type + p {
  margin-top: 150px;
}

/* CONTACT */

.contact-ct {
  margin: var(--m-space) 0px;
}

.contact-ct h2 {
  font-size: var(--fs-xl);
  color: var(--main-color);
  text-align: center;
  padding: var(--s-space);
  margin: var(--s-space) 0px;
  line-height: var(--xl-space);
  font-weight: bold;
}

.contact-ct p {
  color: var(--gray-color);
  text-align: center;
  margin: var(--s-space) 0px;
  font-size: var(--fs-l);
  font-weight: bold;
}

.contact-ct form {
  display: flex;
  flex-direction: column;
  padding: var(--l-space) 0px;
}

.contact-ct input,
.contact-ct button {
  border: none;
  padding: var(--m-space);
  font-size: var(--fs-m);
  border-radius: var(--m-space);
}

.contact-ct input {
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3);
  margin: var(--m-space) 0px;
}

.contact-ct input::placeholder {
  color: var(--gray-color);
}

.contact-ct button {
  background-color: var(--cta-color);
  text-align: center;
  color: var(--white-color);
}

/* FOOTER  */

.footer {
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--m-space);
}

.footer ul {
  display: flex;
  margin-top: var(--m-space);
}

.footer ul a {
  text-decoration: none;
  color: var(--white-color);
}

.footer li:nth-child(2) a {
  margin: 0 var(--l-space);
}

.footer li:nth-child(2) a::before {
  content: "/";
  height: 10px;
  width: 2px;
  color: var(--white-color);
  margin-right: 10px;
}

.footer li:nth-child(2) a::after {
  content: "/";
  height: 10px;
  width: 2px;
  color: var(--white-color);
  margin-right: 10px;
}
